<div class="container">
  <h1>Add a client</h1>
  <hr />
  <h2>Add a new client for @Model.GetName()</h2>
  <form action='/client' method='post'>
    <input id='stylist_id' name='stylist_id' type='hidden' value='@Model.GetId()'>
    <div class="form-group">
      <label for='clientName'>Client's name</label>
      <input id='clientName' name='clientName' type='text'>
    </div>
    <button type='submit' class='btn btn-danger'>Add Client</button>
  </form>
  <a href='/stylists'><button class='btn btn-info'>View Stylists</button></a>
  <a href='/'><button class='btn btn-success'>Back Home</button></a>
</div>
