<div class='container'>
  <h1>Clients</h1>
  <hr />
  <h2>All Clients</h2>
  @foreach (var client in Model)
  {
      <h4>@client.</h4>
      <p>Due @item.GetDueDate()</p>
  }
  <a href="/"><button class="btn btn-success">Back Home</button></a>
</div>
