@{
  Layout = "_Layout";
}

<h1>Stylist: @Model.GetName()</h1>
<hr />
<h2>Edit @Model.GetName()</h2>
<form action="/clients/@Model.GetId()/update" method="post">
  <div class="form-group">
    <label for="clientName">Client Name:</label>
    <input name="clientName" type="text" value="@Model.GetName()">
  </div>
  <button class="btn btn-info" type="submit">Update</button>
</form>
<a href='/'><button class='btn btn-success'>Back Home</button></a>
