<h1>@Model.GetDescription()</h1>

@if (@Model.Count == 0)
{
  <h4>No specialties have been added yet!</h4>
}
@foreach (var specialties in Model)
{
  <h3><a href='/specialties/@specialties.GetId()'>@specialties.GetName()</a></h3>
}
