<div class='container'>
    <h1>Specialty: @Model["selectedSpecialty"].GetDescription()</h1>
    <hr />
    <h3>Stylists with this specialty:
        <ul>
            @foreach (var stylist in Model["specialtyStylists"])
            {
                <h5>@stylist.GetName()</h5>
            }
        </ul>
        <hr />
        <h4>Add stylists to this specialty:
            <form action='/specialties/@Model["selectedSpecialty"].GetId()/stylists/new' method='post'>
                <label for='stylistId'>Add a Stylist</label>
                <select id='stylistId' name='stylistId' type='text'>
                    @foreach (var stylist in Model["allStylists"])
                    {
                        <option value='@stylist.GetId()'>@stylist.GetName()</option>
                    }
                </select>
                <button type='submit'>Add</button>
            </form>
            <hr />
            <a href='/specialties/'><button>Back to specialties</button></a>
            <a href='/stylists'><button class='btn btn-info'>Stylists</button></a>
            <a href="/"><button>Home</button></a>
        </div>
