<div class='container'>
  <h1>Connor's Hair Salon</h1>
  <hr />
  <p>Welcome to Connor's Hair Salon. We offer an excellent varitey of hair stylists to fit your needs. If you want a trim, touch up or coloring we got you covered.</p>
  <a href='/stylists'><button class='btn btn-info'>View Stylists</button></a>
  <a href='/clients/all'><button class='btn btn-info'>View All Clients</button></a>
  <a href='/stylists/new'><button class='btn btn-warning'>Add Stylist</button></a>
  <a href='/specialties/new'><button class='btn btn-warning'>Add Specialty</button></a>

</div>
