<div class='container'>
  <h1>Connor's Hair Salon</h1>
  <hr />
  <p>Welcome to Connor's Hair Salon. We offer an excellent varitey of hair stylists to fit your needs. If you want a trim, touch up or coloring we got you covered.</p>
  <hr />
  <h2>Here are our wonderful stylists!</h2>
  @foreach(var stylist in Model)
  {
      <h4>@stylist.GetName()</h4>
  }
  <a href='/stylists/new'><button class='btn btn-warning'>Add Stylist</button></a>
</div>
