<div class='container'>
  <h1>Stylist @Model["stylist"].GetName()</h1>
  <hr />
  <ul>
    @foreach (var client in Model["client"])
    {
      <h4>@client.GetName()</h4>
    }
  </ul>
  <a href='/stylists/@Model["stylist"].GetId()/client/new'><button class='btn btn-danger'>Add Client</button></a>
  <a href='/stylists'><button class='btn btn-info'>Back To Stylists</button></a>
</div>
